name: Deploy Backend (Curso A)
on:
  push:
    paths: ['backend/**'] # TRIGGER
    branches: ['main']
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend # IMPORTANTE

    steps:
    - uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v1
      with:
        cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

    - run: terraform init
      env:
        TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
        # CREDENCIALES A
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_A_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_A_SECRET_ACCESS_KEY }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_A_SESSION_TOKEN }}
        AWS_REGION: us-east-1

    - run: terraform apply -auto-approve -var="commit_hash=${{ github.sha }}"
      env:
        TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_A_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_A_SECRET_ACCESS_KEY }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_A_SESSION_TOKEN }}
        AWS_REGION: us-east-1